@use '../../styles/partials/fonts.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.dashboard {
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__welcome {
        & h2 {
            margin: 1rem;

            font-weight: 400;
            font-size: 1.3rem;
            border-bottom: 0.5px solid $silver;
            width: 100%;
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            padding-bottom: 0.5rem
        }
    }



    &__activity {
        display: flex;
        flex-direction: column;
        align-items: center;

        &>h4 {
            font-weight: 600;
            padding: 1.5rem;

        }

        &-styler {
            display: flex;
            justify-content: center;

        }

        &-card {
            // border: 1px solid red;
            // width: 100%;
            margin: 0 1.25rem;
            margin-bottom: 1.5rem;
            // border: 1px solid red;
            background-color: white;
            padding: 1rem 1.5rem;
            padding-bottom: 1rem;
            box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
            border-radius: 10px;
            width: fit-content;

            // height: 100%;
            &-reviews {
                display: flex;
                // flex-direction: column;
                &:hover{
                    cursor: pointer;
                    color:red;
                    box-shadow: 0 4px 6px #C64E3380;

                }

            }

            & h4 {
                font-size: 1.25rem;
                font-weight: 400;
            }

            & p {
                font-size: 0.9rem;
                font-weight: 600;
                color: $silver;
                padding-bottom: 0.5rem;

            }
        }
    }

    &__comment-card {
        width: 100%;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
        border-radius: 10px;

        // border: 1px solid red;
        & div {
            text-align: start;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & p {
                // padding-top: 0.2rem;
                // margin: 0.2rem;
                color: black;

                & em {
                    font-weight: 400;
                    padding-right: 0.5rem;
                }
            }
        }
    }

    &__comment-link {
        font-weight: inherit;
        width: 100%;
        margin: 0;
        margin-bottom: 0.35rem;
        background-color: white;

        & img {
            width: 70px;
            margin: 0.6rem;
            margin-right: 0.9rem;
        }
    }

    &__saved {
        &>h4 {
            font-weight: 600;
            padding: 1.5rem;
        }
        & h2 {
            padding: 3rem 0 1rem;
        }
    }

    &__image {
        position: relative;
        top: 0.25rem;
        width: 300px;
        height: 300px;
        background-image: url('../../assets/icons/avatar.png');
        object-fit: fill;
        background-position: center;
        background-size: 300px 300px;
        border-radius: 80px;
        background-repeat: no-repeat;
        margin-bottom: 2.5rem;

    }

    &__title {
        margin: 2.5rem 0 1.5rem;
    }

    &--sizing {
        font-size: 1.8rem;
        color: $silver;
        margin: 1rem 0;
    }

    &__profile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // padding-left: 9%;
        padding-top: 2.5rem;

        & h2 {}

        & p {
            margin-bottom: 0.5rem;
            font-weight: 400;
            font-size: 1rem;
        }
    }
}

.dashboard__title-header {
    &>a {
        margin: 0 auto;
        width: auto
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;

    & p {
        color: $silver;
    }
}

.comment-card {
    padding: 1.5rem;
    margin: 0;
    width: fit-content;
    // background-color: #ff2edf;

}
#saved {
    border-top: 0.5px solid $silver;
    width:65%;
    margin-top: 1.5rem;

}
// @keyframes slideIn {
//     from {
//         transform: translateX(-50%);
//         opacity: 0;
//     }

//     to {
//         transform: translateX(0);
//         opacity: 1;
//     }
// }

// .card:nth-child(1) {
//     animation-delay: 0.1s;
// }

// .card:nth-child(2) {
//     animation-delay: 0.6s;
// }

// .card:nth-child(3) {
//     animation-delay: 0.8s;
// }

// .card:nth-child(4) {
//     animation-delay: 1.2s;
// }