$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$largescreen-margin:48px;
//Colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver : #AFAFAF;
$white : #ffffff;
$brainflix-dark-black: #000000;
$brainflix-dark-blue: #0065ad;
$mercury : #E1E1E1;
$alabaster: #FAFAFA;