$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$largescreen-margin:48px;
//Colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$rx-orange: #ff8b70;
$rx-burnt-orange: #C64E33;
$rx-light-orange: #FF8B70;
$rx-blue:#180bb1;

$silver : #8c8a8a;
$white : #ffffff;
$brainflix-dark-black: #000000;
$brainflix-dark-blue: #0065ad;
$mercury : #E1E1E1;
$alabaster: #FAFAFA;