@use '../../styles/partials/fonts.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid $silver;
    border-radius: 9px;
    padding: 8px;
    width: 85%;
    text-align: center;
    margin: auto;
    margin: 1rem auto;
    background-color: #ffffff;
}

.search-input {
    border: 0.5px solid $silver;
    border-radius: 9px;
    padding: 8px;
    margin-right: 8px;
    width: 40%;

    &::placeholder {
        font-size: 0.87rem;
    }
    &:focus {
        border: 1px solid $rx-burnt-orange;
        outline: $rx-burnt-orange;
        
    }
  
}


.select-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    border: 0.5px solid $silver;
    border-radius: 7px;
    margin-right: 0.5rem;
    padding: 0.5rem;
    padding-right: 1.2rem;
    margin: 0.25rem;
}

.search-button {
    border: none;
    border-radius: 7px;
    padding: 8px 16px;
    background-color: $rx-burnt-orange;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 0.25rem;

    &:hover {
        background-color: $rx-orange;
        font-weight: 600;

    }
}