@use '../../styles/partials/fonts.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    box-shadow: 1px 2px 5px rgba(91, 30, 2, 0.1);
    z-index: 100;
    

    & nav {
        display: flex;
        justify-content: space-between;
        width: 68vw;
    }

    &-nav {
        list-style-type: none;

    }

    & ul {
        display: flex;
    }

    &__inner {
        display: flex;
        position: relative;
        width: calc($desktop-breakpoint * 0.77);
        left: calc((100vw - ($desktop-breakpoint * 0.77))/2);


        &>a {
            width: 129px;
            margin-right: 2.8rem;

        }
    }



    &__logo {
        position: relative;
        width: 129px;
        margin: 1rem;
        margin-left: 0rem;

    }



    &__functions {
        display: flex;
        width: 50%;
        align-items: center;
        position: relative;
       
        & a {
            justify-content: center;
            font-weight: 400;
            margin: 0 0.05rem;
            width: inherit;
            height: inherit;


        }
    }

    &__text {

        width: auto;
        height: 100%;
        display: flex;
        padding-bottom: 1rem;
        font-weight: 400;

        margin: 0;
        position: relative;
        top: 14px;

        &--active {
            border-bottom: 2px solid $rx-orange;
            font-weight: 600;
        }

    }

    &__logout {
        display: flex;
        align-items: center;

        & h3 {
            font-weight: 600;
            font-size: 0.9rem;
        }

    }


}

.dashboard__title-header {
    margin: 0 auto;

    & a {
    }
}