@use '../../styles/partials/fonts.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    // border-bottom: 0.5px solid $silver;
    box-shadow: 1px 2px 5px rgba(91, 30, 2, 0.1);
    z-index: 100;
    // padding-left:10vw;
    padding-right: 5vw;

    &__left {
        display: flex;
        // justify-content: space-between;
        width: 50%;

        &>a {
            width: 120px;
            // height: 50px;
            margin-right: 45%;

        }
    }



    &__logo {
        // width: 100%;
        position: relative;
        left: calc((100vw - 1100px)/2);
    }


    &__logo {
        width: 129px;
        margin: 1rem;
        // height: 50px;
        // width: 50px;
        // height: 50px;
        // background-image: url("../../assets/logo/logo-no-background.png");
        // object-fit: fill;
        // background-position: center;
        // background-size: 50px 50px;
        // background-repeat: no-repeat;
        // border-radius: 25px;

    }

    &__functions {
        display: flex;
        width: 50%;
        align-items: center;
        position: relative;
        // left: calc((100vw - 1110px)/99992);

        // justify-content: space-evenly;
        & a {
            justify-content: center;
            // margin: 0 auto;
            margin: 0 0.05rem;
            width: inherit;
            // border-bottom: 5px solid $rx-orange;
            height: inherit;


        }
    }

    &__text {

        width: auto;
        height: 100%;
        display: flex;
        padding-bottom: 1rem;

        margin: 0;
        position: relative;
        top: 8px;

        &--active {
            border-bottom: 2px solid $rx-orange;
        }

    }

    &__logout {
        display: flex;
        align-items: center;

        & h3 {
            font-weight: 600;
            font-size: 0.9rem;
        }

    }


}

.dashboard__title-header {
    margin: 0 auto;

    & a {
        // margin: inherit;
    }
}